---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body  class="bg-gray-100 font-sans">
		<Header />
		<main class=" container mx-auto max-w-screen-xl pt-20">
			<div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
              </div>
			<article >
				<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-4 ml-auto ">Titre de l'article</h1>
				<p class="text-lg md:text-xl lg:text-2xl text-black-700 ml-auto">Publié le 19 janvier 2024</p>
				<p class="text-lg md:text-xl lg:text-2xl text-black-700 ml-auto">Contenu de l'article...</p>
			  </article>
			  
			  <!-- Ajoutez d'autres articles de blog ici -->
		  
			
		  
			<section class="container mx-auto mt-8 flex flex-wrap gap-8">
				<ul class="flex flex-wrap w-full">
					
					{
						posts.map((post) => (
							<li class="w-full md:w-1/2 lg:w-1/2 mb-4 px-12 pl-0">
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" class="bg-purple-100 p-6 rounded-lg shadow-md block"/>
									<h4 class="title text-lg md:text-xl lg:text-xl text-black-700 ml-auto">{post.data.title}</h4>
									<p class="date text-lg md:text-xl lg:text-2xl text-black-700 ml-auto">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
			
		</main>
		<Footer />
	</body>
</html>
